*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; 
    /* equal to 10px based on a 16px browser standard font-size */
}

body {   
    box-sizing: border-box;
}


